# project specific ignores
temp/
.DS_Store
*.code-workspace
*.zip
.metals/
.bloop/
metals.sbt
target/
project/
.scalafmt.conf

*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
